extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='/') Home Template
    li
      a(href='/users') Users Template

  #msg.msg-title
    ul
      each user in users
        li #{user.name}